* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)),
    url(/background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
html {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #ffffff;
  height: 100%;
}

nav.mainnav {
  width: 100%;
  background-color: rgb(159, 70, 243);
  overflow: hidden;
  height: 63px;
  //z-index: 10;
  //position: fixed;

  a {
    float: left;
    // display: block;
    position: relative;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
  }
  ul {
    margin: 8px 0 0 0;
    list-style: none;
  }
  .current {
    color: red;
  }
}

h1 {
  margin: 10px;
}
.currentme {
  color: red;
}

.pushdown-nav {
  height: 0;
  width: 100%;
  z-index: 1;
  font-size: 1.6rem;
  top: 63px;
  bottom: 0;
  line-height: 1.5rem;
  transition: all 0.5s ease;
  position: fixed;
  background-color: rgb(20, 19, 19);
  opacity: 0.9;
  overflow-x: hidden;

  a {
    padding: 20px 10px 10px 30px;
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
    transition: all 0.5s ease;
    display: block;
    text-align: center;
    text-transform: uppercase;
  }
}
nav.pushdown-nav a:nth-child(2) {
  padding-top: 30px;
}
// nav.pushdown-nav a:nth-child(3) {
//   color: red;
// }
nav.pushdown-nav .hov1:hover {
  border-bottom: 1px solid rgb(159, 70, 243);
  color: rgb(127, 17, 230);
  padding-left: 10px;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275), 0.5s;
}

nav.mainnav ul li a::before,
nav.mainnav ul li a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: red;
  left: 0;
  transform: scaleX(0);
  transition: all ease 0.3s;
}
nav.mainnav ul li a::before {
  top: 0;
  transform-origin: left;
}

nav.mainnav ul li a::after {
  bottom: 0;
  transform-origin: right;
}
nav.mainnav ul li a:hover::before,
nav.mainnav ul li a:hover::after {
  transform: scaleX(1);
}

.pushdown-nav {
  .btn-close {
    margin-top: 0;
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 2rem;
    padding: 10px;
    color: red;
    border: 1px rebeccapurple solid;
  }
}
#aboutme {
  display: grid;
  //grid-gap: 10px;
  grid-template-areas:
    "imgstory menow"
    "imgstory mefuture";
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  box-sizing: border-box;
  width: 100%;
  //padding: 1.6rem;
}
.box {
  width: 90%;
  height: auto;
  border: 2px solid rgba(212, 206, 206, 0.856);
  box-sizing: border-box;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  padding: 0;
  //transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
img {
  width: 100%;
  height: 50%;
}
.imgstory {
  grid-area: imgstory;
  grid-column: 1/2;
}
.menow {
  grid-area: menow;
}
.mefuture {
  grid-area: mefuture;
}

@media (max-width: 568px) {
  .mainnav-ul {
    display: none;
  }
}
.footer {
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: rgba(210, 29, 247, 0.336);
  display: flex;
  color: rgb(255, 0, 0);
  padding: 10px;
  justify-content: space-between;
}
img.logo {
  width: 50px;
  height: 50px;
}
.iconify {
  width: 30px;
  height: 30px;
}

#contactme {
  display: grid;
  align-content: center;
  justify-content: baseline;
  margin: 20px;
  color: rgb(255, 255, 255);
  // padding: 100px 0;
  // //background: url(/img-10.jpg)center/cover
  // //fixed no-repeat;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  //border: 1px solid green;
}

#contactme {
  width: 360px;
  margin: 100px auto;
  padding: 2.5rem;
  border-radius: 5%;
  background: rgba(37, 37, 33, 0.5);
  box-shadow: 0 20px 6px -6px black;
}
.cntlist h3 {
  text-align: center;
}
#contactme p {
  text-align: center;
}
.cntlist ul {
  list-style: none;
  line-height: 3rem;
  text-justify: auto;
  padding: 1rem;
  margin-left: 10px;
}
.cntlist ul li {
  font-size: 1rem;
}
#contactme .iconify {
  color: red;
  margin-right: 10px;
}

// @media screen and (min-width: 776px) {
//   .about-card {
//     max-width: 50%;
//     border-radius: 30px;
//   }
// }
